.btn-primary {
  background-color: rgb(44, 161, 5);
  color: white;
}

.btn-primary:hover {
  background-color: rgba(3, 202, 10, 0.798);
}

.list-group-item + .list-group-item {
  border: 1px solid #7c6101b4;
}

.list-group {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.list-group-item {
  margin-top: 6px;
  margin-right: 10px;
  margin-bottom: 6px;
  margin-left: 10px;
  border: 1px solid #7c6101b4;
  padding: 10px;
}

.profile-info {
  display: flex;
  align-items: center;
}

.profile-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.icons .btn {
  padding: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.icons .btn:hover {
  background-color: #f0f0f0;
}
