body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 69%;
  margin: auto;
}

.mt-5 {
  margin-top: 3rem;
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.btn-primary {
  background-color: rgba(48, 174, 6, 0.902);
  color: white;
}

.btn-primary:hover {
  background-color: rgba(38, 255, 0, 0.88);
}
